*
{
	margin:0px;
	padding:0px;
}

#main-menu {
	position:relative;
	float:right;
	margin-right: 30px;
	margin-top: 15px;
}

.item:hover
{
	color:#7c4599 !important;
	font-weight: 600;
}

#main-menu > li {
	display: inline-block;
	margin-left: 43px;
	padding: 0px 0px 12px 0px;
	text-decoration:none;	
	color:#848484;
}
#main-menu > li > a {
	color: #7c4599;
	font-size: 14px;
	line-height: 14px;
	padding: 0px 0px 12px 0px;
	text-decoration:none;
}

#filtro_por_edad
{
	position:relative;
	width: 170px;
	margin-top:21px;
	height: 60px;
	float:left;
	margin-right: 15px
}

.drop_list
{
	position:relative;
	float:left;
	border-radius:3px;
	height:30px;
	width:170px;
	color: #838385;
}

.contenido_general
{
	width: 100%;
	margin: 30px 0px 70px; 
	position: relative;
}

h1
{
	float: left;
	font-weight: 100;
	font-size:27px;
	color:#ae57a2;
	height: 30px;
	width: 100%;
	position: relative;
	text-align: center;
}

h2
{
	float: left;
	font-weight: 500;
	font-size:18px;
	color:#ae57a2;
	position: relative;
	width:100%;
	margin:5px 0px; 
}

h5
{
	font-size: 12px;
	font-weight: 300;
}

.table_general
{
	width: 100%;
	border-spacing: 0px;
	margin-top: 15px;
	position: relative;
	float: left;
}

th
{
	position: relative;
	height: 39px;
}

td
{
	height: 39px;
	position: relative;
}

.th_head
{
	background-color: #7B4498;
	color: #fff;
	font-size: 12px;
	font-weight: 300;
	/*border-top: 12px solid #fff;*/

}

.th_headlinea
{
	background-color: #de95d1;
	color: #fff;
	font-size: 12px;
	font-weight: 300;
	border-top: 3px solid #fff;
	text-align: center;
}

.th_subhead
{
	background-color: #c1c1c1;
	color: #fff;
	font-size: 12px;
	font-weight: 300;
	border-top: 1px solid rgba(255, 255, 255, 0.5);
}


.td_content
{
	font-size: 12px;
	font-weight: 500;
	border-bottom: 1px solid #EBEBEC;
	text-align: center;
}

.td_content1
{
	font-size: 12px;
	font-weight: 500;
	border-bottom: 1px solid #EBEBEC;
	position: relative;
	color: #848484;
}

.td_content1 p
{
	margin-left: 30px; 
}
.boton_2
{
	max-width: 200px;
	position: relative;
	float: left;
	color:#ffffff;
	padding:8px 28px;
	border-radius:3px;
	font-size:13px;
	cursor: pointer;
	background-color:#ad56a1;
	display:inline-block;
}
.boton
{
	width: 66px;
	position: relative;
	float: right;
	color:#898989;
	padding:4px 10px;
	border-radius:3px;
	font-size:13px;
	background-image: url('../images/agregar-01.svg');
	background-repeat:no-repeat;
	background-position: right;
	background-size:24px;
	cursor: pointer;
}

.boton_grupo
{
	position: absolute;
	top:5px;
	width: 30px;
	height: 30px;
	background-image: url('../images/agregar2-01.svg');
	background-repeat:no-repeat;
	background-position: right;
	background-size:20px;
	cursor: pointer;
}

.bt_acordeon
{
	position: absolute;
	top:5px;
	right: 10px;
	width: 30px;
	height: 30px;
	background-image: url('../images/bt_acordeon.svg');
	background-repeat:no-repeat;
	background-position: right;
	background-size:20px;
	cursor: pointer;
}

.bt_acordeon_colaps
{
	position: absolute;
	top:5px;
	right: 10px;
	width: 30px;
	height: 30px;
	background-image: url('../images/bt_acordeon1.svg');
	background-repeat:no-repeat;
	background-position: right;
	background-size:20px;
	cursor: pointer;
}

#paginador
{
	height: 30px;
	width: 100%;
	position: relative;
	float: left;
	text-align: center;
	margin-top: 30px;
}

#paginador li
{
	display: inline;
	margin: 0px 6px;
}

#marcas_contenerdor
{
	height: 300px;
	width: 100%;
	position: relative;
}

#eventos_contenerdor
{
	height: 300px;
	width: 100%;
	position: relative;
}

#marca_cyzone
{
	position: relative;
	width: 150px;
	height: 150px;
	float: left;
	border-radius: 75px;
	margin: 30px 82px 0px;
	background-image: url(../images/cyzone.png);
	background-size: 100%;	
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	-webkit-transition: background-image 1s;
	-webkit-transition: background-size 0.3s; 
}

#marca_cyzone:hover
{
	background-image: url(../images/cyzone_b.png);
	background-size: 102%;	
}

#marca_esika
{
	width: 150px;
	height: 150px;
	position: relative;
	float: left;
	border-radius: 75px;
	margin: 30px 82px 0px;
	background-image: url(../images/esika.png);
	background-size: 100%;	
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	-webkit-transition: background-image 1s;
	-webkit-transition: background-size 0.3s; 
}

#marca_esika:hover
{
	background-image: url(../images/esika_b.png);
	background-size: 102%;	
}

#marca_lbel
{
	width: 150px;
	height: 150px;
	position: relative;
	float: left;
	border-radius: 75px;
	margin: 30px 82px 0px;
	background-image: url(../images/lbel.png);
	background-size: 100%;	
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	-webkit-transition: background-image 1s;
	-webkit-transition: background-size 0.3s; 
}

#marca_lbel:hover
{
	background-image: url(../images/lbel_b.png);
	background-size: 102%;	
}

.bt_eventos
{
	position: relative;
	width: 150px;
	height: 150px;
	float: left;
	border-radius: 75px;
	margin: 30px 44px 0px;
	cursor: pointer;
	background-color: #fff;
	border: 1px solid #7C4599;
	text-align: center;
}

.bt_eventos span
{
	position: relative;
	font-size: 15px;
	top: 68px;
	color: #7C4599;
}

.cursor_pointer
{
	cursor: pointer;
}

.input_popup
{
	margin-bottom: 0px;
}

.select_popup
{
	position: relative;
	width: 100%;
	height: 30px;
}

input[type='text'], select
{
    appearance: none;
	border: 1px solid #9C9C9E;
	height: 28px;
	border-radius: 6px;
	width: 100%;
	margin:5px 0px 12px;
}
textarea
{
	position:relative;
	float:left;
	width: 100%;
	height:40px;
	margin:5px 0px 12px;
}
/*****************FORMULARIOS*******************/
.cursor_pointer
{
	cursor:pointer;
}
.margin_top_20
{
	margin-top:20px;
}
.margin_top_10
{
	margin-top:10px;
}
.margin_left_5
{
	margin-left:5px;
}
.margin_top_5
{
	margin-top:5px;
}
.text_align_center
{
	text-align:center !important;
}
.display_inline
{
	display:inline-block !important;
	float:none !important;
}
.float_right
{
	float:right !important;
}
.float_left
{
	float:left !important;
}
.field_30 {
    width: 30%;
    float: left;
    position: relative;
}

.field_33 {
    width: 32%;
    float: left;
    position: relative;
}
.field_68 {
    width: 68%;
    float: left;
    position: relative;
}
.field_85 {
    width: 85%;
    float: left;
    position: relative;
}
.field_90 {
    width: 90%;
    float: left;
    position: relative;
}

.field_48 {
    width: 48.5%;
    position: relative;
    float: left;
}

.field_40 {
    width: 40%;
    position: relative;
    float: left;
}

.field_20 {
    width: 20%;
    position: relative;
    float: left;
}

.field_23 {
    width: 23%;
    position: relative;
    float: left;
}

.field_100 {
    width: 100%;
    float: left;
    position: relative;
}

.field_divider_2 {
    width: 2%;
    height: 20px;
    float: left;
    position: relative;
}
/**********************ADMINISTRADOR PRODUCTOS*************************/
.cont_catal
{
	position:relative;
	float:left;
}
.clear
{
	clear:both;
}
.txt_filtro_30
{
	position:relative;
	float:left;
	width:30%;
	margin-top:6px;
}
.txt_filtro_20
{
	position:relative;
	float:left;
	width:20%;
	margin-top:6px;
}
.border_radius
{
	border-radius:5px 0px 0px 5px !important;
	border:none !important;
}
.ico_buscar
{
	position:relative;
	float:left;
	width:32px;
	height:26px;
	background-color:#ffffff;
	border-radius:0px 5px 5px 0px;
	margin:4px 0px 0px 2px;
	padding-top:4px;
	text-align:center;
}
.cont_buscar
{
	background-color:#b08fc1;
	position:relative;
	float:left;
	width:342px;
	padding:5px 1%;
	height: 60px;
	margin: 10px 0px;
	color:#ffffff;
}
.cont_filtros
{
	color:#ffffff;
	width:98%;
	padding:10px 1% 0px;
	background-color:#ce9ac7;
	position:relative;
	float:left;
	margin:10px;
}
.cont_img_produ
{
	width:140px;
	height:180px;
	margin:20px 10px 0px;
	position:relative;
	float:left;
	text-align:center;
}
.cont_img_produ_200
{
	width:200px;
	height:200px;
	margin:10px 0px 10px;
	position:relative;
	float:left;
	text-align:center;
	background-color:#ccc;
	border:1px solid #999;
}
.cont_img_produ_100
{
	width:100px;
	height:100px;
	margin:10px 0px 10px;
	position:relative;
	float:left;
	text-align:center;
	background-color:#ccc;
	border:1px solid #999;
}
.img_produ
{
	width:138px;
	height:138px;
	position:relative;
	float:left;
	border:1px solid #59595c;
	margin-bottom:6px;
}
/*******************TABLE**********************/
table {
    width: 100%;
    border: 1px solid #c5c5c5 !important;
    display: table;
    border-collapse: inherit !important;
    border-spacing: 0px !important;
    border-color: inherit !important;
    position: relative;
    float: left;
	margin:15px 0px 10px;
}

table th {
    border-collapse: inherit !important;
    color: #ffffff;
    background-color: #999999;
    padding: 3px 0px;
}

table td {
    border-collapse: collapse;
    color: #9e9e9e;
    padding: 3px 0px;
    text-align: center;
}

table tr th {
    color: #ffffff !important;
}
/*******************OFERTAS********************/
.cont_catal
{
	position:relative;
	float:left;
	margin:10px 40px;
}
.img_oferta
{
	max-width: 600px;
	max-height: 580px;
	position:relative;
	float:left;
	margin:10px 0px 15px;
	text-align:center;
	background-color:#ccc;
	border:1px solid #999;
	overflow:hidden;

}