body
{
	margin: 0px;
	padding: 0px;
	background-image: url(../images/bg_login.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	font-family: 'Open Sans', sans-serif;
	min-height: 768px;
}
		
		
	#negro{
		height: 390px;
		max-width: 600px;;
		width: 50%;
		min-width: 300px;
		margin-top: 240px;
		margin-left: auto;
		margin-right: auto;
		position: relative;
		text-align: center;
		border-radius: 9px;
	}
		
		
	#logo{
		height: 200px;
		width: 160px;
		margin-top: -60px;
		position: relative;
		display: inline-block;
		background-image: url(../images/logo_login.svg);
		background-repeat: no-repeat;
		background-position: center;
	}
		
	#contenedor
{
		margin-top: 45px;
		position: relative;
		display: block;
}
		
	.content{
		width: 50%;
		min-width: 180px;
		height: 18px;
		margin-bottom: 15px;
		padding: 9px;
		border-radius: 3px;
		border: 1px solid #fff;
		background-color: rgba(255, 255, 255, 0);
		color: #fff;
		font-weight: 200;
	}
		
	#bt_inicio{
		width: 50%;
		min-width: 180px;
		height: 24px;
		padding: 9px;
		background-color: #AE57A2;
		margin-top: 24px;
		border-radius: 3px;
		display: inline-block;
		color: white;
		font-weight: 200;
		cursor: pointer;
	}

#nombre_administrador
{
	width: 300px;
	height: 90px;
	font-size: 27px;
	text-align: center;
	color: #fff;
	margin-top: 30px;
	display: inline-block;
	font-weight: 100;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:    #fff;
	opacity:  0.6;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #fff;
    opacity:  0.6;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #fff;
    opacity:  0.6;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #fff;
	opacity:  0.6;
}