/*-------------Modal----------------*/

.fuzemodal
{
    min-width:150px;
    min-height:210px;
    border:1px solid #D5E2E8;
    background-color:#FFF;
    position:absolute;
	color:#666;
	border-radius: 15px;
	padding: 6px 15px 15px;
}

.fuzemodal_message
{
    min-width:210px;
    min-height:150px;
    border:1px solid #D5E2E8;
    background-color:#FFF;
    position:absolute;
	color:#666;
}

.fuzemodal .fuzemodal_content
{
    padding:0px 20px 15px 20px;
	
}

.fuzemodal .fuzemodal_center
{
    display:inline-block;
    padding-top:0px;
}

.fuzemodal .fuzemodal_title
{
    width:100%;
    height:50px;
    color:#AE57A2;
    padding:12px;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    font-size:18px;
    font-weight:100;
    border-bottom:1px solid #C4ABD1;
    position:relative;
    margin-bottom:20px;
	text-align: center;
}

.fuzemodal .fuzemodal_title_items
{
    position:absolute;
    right:6px;
    top:14px;
	cursor:pointer;
}

.fuzemodal .fuzemodal_buttons
{
	text-align:center;
	width:100%;
}

.fuzemodal .fuzemodal_centertext
{
	text-align:center;	
}

.fuzemodal .fuzemodal_button
{
    width:120px;
    height:30px;
    background-color:#AE57A2;
    color:#F1F9FB;
    text-align:center;
    font-size:14px;
	font-weight: 100;
    padding:5px;
	border-radius:6px;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    cursor:pointer !important;
    display:inline-block;
	position: relative;
	margin-top: 30px;
}

.subtitulo_popup
{
	font-size: 15px;
	font-weight: 100;
	float:left;
	position: relative;
	margin-bottom: 9px;
	margin-top: 15px;
}