*
{
	margin:0px;
	padding:0px;
}
.marca_cata
{
	margin:10px 45px;
}
#lanzamiento
{
	position:relative;
	float:left;
}
h2
{
	font-size:20px;
	color:#ae57a2;
	margin-bottom:14px;
}
h3
{
	font-size:20px;
	color:#ffffff;
	background-color:#bda2cc;
	margin-bottom:10px;
	padding:5px 0px;
}
h4
{
	font-size:13px;
	color:#7c4599;
	font-weight:500;
	margin-bottom:4px;
}
h5
{
	font-size:15px;
	color:#7c4599;
	font-weight:500;
	margin-bottom:14px;
	
}
.banner
{
	position:relative;
	float:left;
	width:924px;
	height:256px;
	margin-bottom:36px;
}
#catalogo
{
	position:relative;
	float:left;
	width:214px;
	height:234px;
	background-color:#fafafa;
	text-align:center;
	padding-bottom:10px;
	margin:0px 18px 30px 0px;
}
.border_bottom
{
	width:164px;
	height:1px;
	position:relative;
	margin:10px auto;
	background-color:#e7e7e7;
}

#promocion
{
	position:relative;
	float:left;
	width:692px;
	height:234px;
	border-top:1px solid #ececed;
	border-bottom:1px solid #ececed;
	padding-top: 5px;
}
.producto
{
	position:relative;
	float:left;
	width:154px;
	height:200px;
	margin:0px 14px;
}
.list_producto
{
	position:relative;
	float:left;
	width:120px;
	height:auto;
	margin:15px 26px;
}
.producto_2
{
	position:relative;
	float:left;
	width:115px;
	height:200px;
	margin:0px 14px;
	text-align:center;
	color:#6e6e70;
}
.texto
{
	position:relative;
	float:left;
	margin-right:10px;
}
.precio1
{
	color:#838385;
}
.precio2
{
	color:#ae57a2;
}
.precio_normal
{
	color:#ae57a2;
	margin-bottom:9px;
}
.oferta
{
	font-size:11.5px;
}
#mas_comprado
{
	position:relative;
	float:left;
	width:100%;
	height:234px;
	margin-bottom:30px;
}	
.flecha
{
	position:relative;
	float:left;
	margin: 70px 14px;
}
.flecha_2
{
	position:relative;
	float:left;
	margin: 70px 5px;
}

.drop_list
{
	position:relative;
	float:left;
	background-color:#ffffff;
	border:0px;
	border-radius:6px;
	height:30px;
	width:100%;
}
/************MISCELANIOS***********/
.text_box
{
	position:absolute;
	top:120px;
	right:50px;
	border:1px solid #b4b4b6;
	border-radius:6px;
	height:28px;
	width:220px;
	background-image:url(../images/slices_ico_lupa_gris.png);
	background-repeat:no-repeat;
	background-position:2px 4px;
}
.text_box_2
{
	position:relative;
	float:left;
	border:1px solid #b4b4b6;
	border-radius:6px;
	height:23px;
	width:45px;
}
.text_area
{
	height:86px;
	width:100%;
	position:relative;
	float:left;
	border-radius:6px;
	margin-bottom:30px;
}
.clear
{
	clear:both;
}
.boton
{
	position:relative;
	float:left;
	background-color:#9c9c9e;
	color:#ffffff;
	padding:4px 10px;
	border-radius:6px;
	font-size:13px;
	margin:10px 0px;
}

.field_100
{
	position:relative;
	float:left;
	width:100%;
}
.field_80
{
	position:relative;
	float:left;
	width:92%;
}
.field_50
{
	position:relative;
	float:left;
	width:50%;
}
.field_30
{
	position:relative;
	float:left;
	width:30%;
}
.margin_top_10
{
	margin-top:10px;
}
.margin_top_28
{
	margin-top:28px;
}
.margin_bottom_25
{
	margin-bottom:25px;
}
.margin_left_60
{
	margin-left:40px;
}
.linea_inferior
{
	width:100%;
	position:relative;
	float:left;
	heigth:1px;
	background-color:#e6e6e7;
}
.border_top
{
	border-top:1px solid #e6e6e7;
	padding-top:18px;
}

/******************DETALLE DE PRODUCTO*********************/
.img_grande
{
	width:438px;
	height:408px;
	position:relative;
	float:left;
	
}
.tumbs
{
	width:438px;
	height:80px;
	position:relative;
	float:left;
	background-color:#ccd0d4;
	margin-top:20px;
	text-align:center;	
}
.titulo_producto
{
	color:#5a5a5d;
	font-size:30px;
	font-weight:500;
	position:relative;
	float:left;
	line-height:32px;
	margin-bottom:12px;
	
}
.cantidad
{
	position:relative;
	float:left;
	font-size:14px;
	color:#a2a2a4;
}
.codigo_detalle
{
	font-weight:500;
	position:relative;
	float:left;
	font-size:14px;
	color:#a2a2a4;
	margin-bottom:14px;
}
.oferta_detalle
{
	position:relative;
	float:left;
	color:#ae57a2;
	font-size:18px;
}
.precio_detalle
{
	color:#ae57a2;
	font-size:28px;
	margin-bottom:15px;
}
.img_parentesis
{
	position:relative;
	float:left;
}
.cont_hipoalergenico
{
	position:relative;
	float:left;
	width:28%;
	height:auto;
	text-align:center;
	font-size:13px;
	color:#bbbaae;
	margin-top:20px;
}
.tumbs .img
{
	margin:8px 8px 0px;
}
/*****************TABS*******************/
#tab1
{
	position:relative;
	float:left;
	width:100%;
	color:#ae57a2;
	margin-top:30px;
}
#tab1 .tab_item
{
	position:relative;
	float:left;
	margin:0px 40px 0px 0px;
	font-weight:500;
	padding-bottom:10px;
	background-color:#ffffff !important;
	
}
#tab1 .tab_item:hover
{
	border-bottom:3px solid #ae57a2;
}
.tab_content
{
	position:relative;
	float:left;
	width:94%;
	padding:20px 3%;
	height:100px;
	background-color:#f8f0f7 !important;
}
.tab_item_selected
{
	margin: 0px 40px 0px 0px;
	padding-bottom:10px !important;
	color:#ae57a2 !important;
	background-color:#ffffff !important;
	border-bottom:3px solid #ae57a2 !important;
}
/****************COMENTARIO****************/
.tit_comentario
{
	position:relative;
	float:left;
	color:#ae57a2;
	font-size:18px;
}
.texto_comentario
{
	position:relative;
	float:left;
	color:#5a5a5d;
	font-size:13px;
}
.fecha_comentario
{
	position:relative;
	float:left;
	color:#7c4599;	
	font-size:14px;
}

