body
{
	background-color:#eeeeee;
	font-family: 'Open Sans', sans-serif;
	font-size:12px;
	min-width:1200px;
	color:#5a5a5d;
}
/*************HEADER**************/
/*#cabecera
{
	width:100%;
	height:160px;
	position:absolute;
	float:left;
	z-index:10;
	color:#ffffff;
}
#bg_cabecera
{
	position:absolute;
	z-index:-10;
}*/
.tu_consultora
{
	color:#bb93bc;
}
#cabecera
{
	width:1200px;
	height:160px;
	position:relative;
	margin:0px auto;
	z-index:10;
	color:#ffffff;
}
#bg_cabecera
{
	width:100%;
	min-width:1200px;
	height:160px;
	position:absolute;
	z-index:9;
}
#bg_blanco
{
	position:absolute;
	top:0px;
	height:180px;
	width:960px;
	background-color:#ffffff;
}
#esferas
{
	position:absolute;
	z-index:-8;
	opacity:0.1;
}
/*#bg_derecho
{
	position:absolute;
	right:0px;
	top:0px;
	height:90px;
	width:50%;
	background-color:#99408d;ç
	position:absolute;
	z-index:-20;
}*/
#logo
{
	position:absolute;
	left:180px;
	top:30px;
}
#lado_derecho
{
	position:absolute;
	right:150px;
	top:25px;
}
#usuario
{
	position:relative;
	float:left;
}
#cerrar_sesion
{
	position:relative;
	float:left;
	color:#d3aad4;
	text-decoration:none;
}
#nombre_lider
{
	position:relative;
	float:left;
}
#carrito
{
	position:relative;
	float:left;
}
.border_right
{
	width:1px;
	height:26px;
	position:relative;
	float:left;
	margin:0px 24px;
	background-color:#FFF;

}
/*************NAVEGACIÓN**************/
#menu
{
	position:relative;
	float:left;
	width:100%;
	height:50px;
	clear:both;
}
#menu .item
{
	text-align:center;
	text-decoration:none;
	position:relative;
	float:left;
	width:16.6;
	color:#7c4599;
	margin:0px 20px;
}
#sub_menu
{
	position:relative;
	float:left;
	width:214px;
	border-radius:5px;
	background-color:#f0f0f0;
	font-size:15px;
}
.sub_item
{
	text-decoration:none;
	width:186px;
	position:relative;
	float:left;
	/*border-bottom:1px solid #ffffff;*/
	padding:20px 0px 20px 28px;
}
.sub_item:hover
{
	background-color:#e7e7e7;
}
.sub_item_select
{
	background-color:#d5d5d6;
}
.tab
{
	position:relative;
	float:left;
	text-decoration:none;
	color:#9970af;
	clear:both;
	margin: 14px 0px 0px 40px;
	font-size: 13px;
}
.tab_select
{
	color:#ae399e;
	font-weight:600;
}
#filtro_por_edad
{
	position:relative;
	background-color:#f0f0f0;
	width: 158px;
	padding: 20px 28px;
	margin-bottom: 2px;
	height: 66px;
}

#filtro_precio
{
	position:relative;
	height:88px;
	background-color:#f0f0f0;
	width: 158px;
	padding: 20px 28px;
	margin-bottom: 2px;
	height: 66px;
}

#filtro_mas_vendido
{
	position:relative;
	height:120px;
	width: 158px;
	background-color:#f0f0f0;
	padding: 20px 28px;
	margin-bottom: 10px;
}

.cont_opciones
{
	background-color:#ffffff;
	width:96%;
	height:74px;
	border-radius:6px;
	padding:2%;	
	overflow-x:hidden; 
	overflow-y:scroll;	
}
#lado_left
{
	position:relative;
	float:left;
	border-top:1px solid #e6e6e7;
}
#lado_right
{
	margin-left:15px;
	width:694px;
	position:relative;
	float:left;
 	border-top:1px solid #e6e6e7;
	padding-top:18px;
}
/*************CONTENIDO**************/
#contenido
{
	position:relative;
	width:924px;
	padding:0px 18px 20px;
	min-height:850px;
	background-color:#ffffff;
	padding-top: 200px;
	margin:0px auto;
	z-index:8;
}

/*************FOOTER**************/
#footer
{
	position:relative;
	float:left;
	width:100%;
	height:40px;
	padding-top:10px;
	color:#ffffff;
	background-color:#5a5a5d;
	border-top:1px solid #d6d6d6;
	text-align:center;
}
