

#menu-toggle {
	display: none;
	float: right;
}
/***************************************************/
/* HEADER > MENU */
#main-menu {
	clear:both;
	position:relative;
	float:left;
	width:100%;
	height:50px;
}

.item:hover
{
	color:#7c4599 !important;
	border-bottom:2px solid #bda2cc;

}

#main-menu > li.parent {

	background-size: 7px 7px;
	background-repeat: no-repeat;
	background-position: left center;
}

/*#main-menu > li.parent > a {
	padding-left: 14px;
}*/
#main-menu > li {
	display: inline-block;
	margin-left: 43px;
	padding: 0px 0px 12px 0px;
	text-decoration:none;	
	color:#848484;
}
#main-menu > li > a {
	color: #7c4599;
	font-size: 14px;
	line-height: 14px;
	padding: 0px 0px 12px 0px;
	text-decoration:none;
}

#main-menu > li:hover > a,
#main-menu > li.current-menu-item > a {
	color: #7c4599;
}

/* HEADER > MENU > DROPDOWN */
#main-menu li {
	position: relative;
	
}

ol, ul {
	list-style: none;
	padding: 0px;
	margin: 0px;
}



ul.sub-menu { /* level 2 */
	display: none;
	left: 0px;
	top: 26px;
	position: absolute;
	width: 150px;
	z-index: 9999;
	border-top:3px solid #bda2cc;

}

ul.sub-menu ul.sub-menu { /* level 3+ */
	margin-top: -1px;
	padding-top: 0;
	left: 149px;
	top: 0px;
}

ul.sub-menu > li > a {
	text-decoration:none !important;
	background-color: #FFF;
	border: 1px solid #ececec;
	border-top: none;
	color: #5a5a5d;
	display: block;
	font-size: 12px;
	line-height: 15px;
	padding: 10px 12px;
}

ul.sub-menu > li > a:hover {
	background-color:#f8f8f8; 
	color:#8551a0;
}
li
{
	border-bottom:none;
}

ul.sub-menu > li:first-child {
	/*border-top:4px solid #ffa53b;*/
}

ul.sub-menu ul.sub-menu > li:first-child {
	/*border-top: 1px solid #ffffff;*/
}

ul.sub-menu > li:last-child > a {

}

ul.sub-menu > li:last-child > a:hover {
	
}

ul.sub-menu > li > a.parent {
	/*background-image: url(../images/arrow.png);
	background-size: 5px 9px;
	background-repeat: no-repeat;
	background-position: 95% center;*/
}

#main-menu li:hover > ul.sub-menu {
	display: block; /* show the submenu */
}
