*
{
	margin:0px;
	padding:0px;
}

#main-menu {
	position:relative;
	float:right;
	margin-right: 30px;
	margin-top: 15px;
}

.item:hover
{
	color:#7c4599 !important;
	font-weight: 600;
}

#main-menu > li {
	display: inline-block;
	margin-left: 43px;
	padding: 0px 0px 12px 0px;
	text-decoration:none;	
	color:#848484;
}
#main-menu > li > a {
	color: #7c4599;
	font-size: 14px;
	line-height: 14px;
	padding: 0px 0px 12px 0px;
	text-decoration:none;
}

#filtro_por_edad
{
	position:relative;
	width: 170px;
	margin-top:21px;
	height: 60px;
	float:left;
	margin-right: 15px
}

.drop_list
{
	position:relative;
	float:left;
	border-radius:3px;
	height:30px;
	width:170px;
	color: #838385;
}

.contenido_general
{
	width: 75%;
	margin: 30px 12% 0px; 
	position: relative;
}

h1
{
	float: left;
	font-weight: 100;
	font-size:27px;
	color:#ae57a2;
	height: 30px;
	width: 100%;
	position: relative;
	text-align: center;
}

h2
{
	float: left;
	font-weight: 500;
	font-size:18px;
	color:#ae57a2;
	position: relative;
}

h5
{
	font-size: 12px;
	font-weight: 300;
}

.table_general
{
	width: 100%;
	border-spacing: 0px;
	margin-top: 15px;
	position: relative;
	float: left;
}

th
{
	position: relative;
	height: 39px;
}

td
{
	height: 39px;
	position: relative;
}

.th_head
{
	background-color: #7B4498;
	color: #fff;
	font-size: 12px;
	font-weight: 300;
	border-top: 12px solid #fff;

}

.th_headlinea
{
	background-color: #de95d1;
	color: #fff;
	font-size: 12px;
	font-weight: 300;
	border-top: 3px solid #fff;
	text-align: center;
}

.th_subhead
{
	background-color: #c1c1c1;
	color: #fff;
	font-size: 12px;
	font-weight: 300;
	border-top: 1px solid rgba(255, 255, 255, 0.5);
}


.td_content
{
	font-size: 12px;
	font-weight: 500;
	border-bottom: 1px solid #EBEBEC;
	text-align: center;
}

.td_content1
{
	font-size: 12px;
	font-weight: 500;
	border-bottom: 1px solid #EBEBEC;
	position: relative;
	color: #848484;
}

.td_content1 p
{
	margin-left: 30px; 
}

.boton
{
	width: 66px;
	position: relative;
	float: right;
	color:#898989;
	padding:4px 10px;
	border-radius:3px;
	font-size:13px;
	background-image: url('../images/agregar-01.svg');
	background-repeat:no-repeat;
	background-position: right;
	background-size:24px;
	cursor: pointer;
}

.boton_grupo
{
	position: absolute;
	top:5px;
	width: 30px;
	height: 30px;
	background-image: url('../images/agregar2-01.svg');
	background-repeat:no-repeat;
	background-position: right;
	background-size:20px;
	cursor: pointer;
}

.bt_acordeon
{
	position: absolute;
	top:5px;
	right: 10px;
	width: 30px;
	height: 30px;
	background-image: url('../images/bt_acordeon.svg');
	background-repeat:no-repeat;
	background-position: right;
	background-size:20px;
	cursor: pointer;
}

.bt_acordeon_colaps
{
	position: absolute;
	top:5px;
	right: 10px;
	width: 30px;
	height: 30px;
	background-image: url('../images/bt_acordeon1.svg');
	background-repeat:no-repeat;
	background-position: right;
	background-size:20px;
	cursor: pointer;
}

#paginador
{
	height: 30px;
	width: 100%;
	position: relative;
	float: left;
	text-align: center;
	margin-top: 30px;
}

#paginador li
{
	display: inline;
	margin: 0px 6px;
}

#marcas_contenerdor
{
	height: 300px;
	width: 100%;
	position: relative;
}

#eventos_contenerdor
{
	height: 300px;
	width: 100%;
	position: relative;
}

#marca_cyzone
{
	position: relative;
	width: 150px;
	height: 150px;
	float: left;
	border-radius: 75px;
	margin: 30px 40px 0px;
	background-image: url(../images/cyzone.png);
	background-size: 100%;	
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	-webkit-transition: background-image 1s;
	-webkit-transition: background-size 0.3s; 
}

#marca_cyzone:hover
{
	background-image: url(../images/cyzone_b.png);
	background-size: 102%;	
}

#marca_esika
{
	width: 150px;
	height: 150px;
	position: relative;
	float: left;
	border-radius: 75px;
	margin: 30px 40px 0px;
	background-image: url(../images/esika.png);
	background-size: 100%;	
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	-webkit-transition: background-image 1s;
	-webkit-transition: background-size 0.3s; 
}

#marca_esika:hover
{
	background-image: url(../images/esika_b.png);
	background-size: 102%;	
}

#marca_lbel
{
	width: 150px;
	height: 150px;
	position: relative;
	float: left;
	border-radius: 75px;
	margin: 30px 40px 0px;
	background-image: url(../images/lbel.png);
	background-size: 100%;	
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	-webkit-transition: background-image 1s;
	-webkit-transition: background-size 0.3s; 
}

#marca_lbel:hover
{
	background-image: url(../images/lbel_b.png);
	background-size: 102%;	
}

.bt_eventos
{
	position: relative;
	width: 150px;
	height: 150px;
	float: left;
	border-radius: 75px;
	margin: 30px 95px 0px 95px;
	cursor: pointer;
	background-color: #fff;
	border: 1px solid #7C4599;
	text-align: center;
}

.bt_eventos span
{
	position: relative;
	font-size: 15px;
	top: 68px;
	color: #7C4599;
}

.cursor_pointer
{
	cursor: pointer;
}

.input_popup
{
	margin-bottom: 0px;
}

.select_popup
{
	position: relative;
	width: 100%;
	height: 30px;
}

input[type=text]
{
    appearance: none;
	border: 1px solid #9C9C9E;
	height: 30px;
	border-radius: 6px;
	width: 100%;
	margin-top:0px;
}
