body
{
	background-color:#eeeeee;
	font-family: 'Open Sans', sans-serif;
	font-size:12px;
	min-width:1200px;
	color:#5a5a5d;
}
/*************HEADER**************/


#cabecera
{
	width:1200px;
	height:160px;
	position:relative;
	margin:0px auto;
	z-index:10;
	color:#ffffff;
}
#bg_cabecera
{
	width:100%;
	min-width:1200px;
	height:160px;
	position:absolute;
	z-index:9;
}

#esferas
{
	position:absolute;
	z-index:-8;
	opacity:0.1;
}

#logo
{
	position:absolute;
	left:180px;
	top:30px;
}
#lado_derecho
{
	position:absolute;
	right:150px;
	top:9px;
}
#usuario
{
	position:relative;
	float:left;
}
#cerrar_sesion
{
	position:relative;
	float:left;
	color:#d3aad4;
	text-decoration:none;
}

.border_right
{
	width:1px;
	height:18px;
	position:relative;
	float:left;
	margin:0px 24px;
	background-color:#FFF;

}
/*************CONTENIDO**************/
#contenido
{
	position:relative;
	width:924px;
	padding:0px 45px 20px;
	background-color:#fff;
	padding-top: 200px;
	margin:0px auto;
	z-index:8;
	min-height: 720px;
}

/*************FOOTER**************/
#footer
{
	width:100%;
	min-width: 1200px;
	height:30px;
	color:#ffffff;
	background-color:#5a5a5d;
	border-top:1px solid #d6d6d6;
	text-align:center;
	bottom: 0px;
	padding-top: 12px;
	position: fixed;
	z-index: 10;
}
